@import "tailwindcss";
@import "@fontsource/inter/index.css";

:root {
   font-family: 'Inter', sans-serif;

}



@layer components{
  .topbar-container {
  @apply flex flex-row w-[948px] h-[68px] px-7 py-5 border-b border-gray-200 justify-between;
}

.sidebar-toggle-button {
    @apply fixed top-4 left-4 z-50 p-2 rounded-md bg-gray-100 text-gray-800 sm:hidden focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black;
  }

  .sidebar-container {
    @apply bg-white border-r border-gray-200 flex flex-col h-screen pt-3 pb-5 px-3 font-sans overflow-y-auto fixed top-0 left-0 bottom-0 z-40 transform transition-transform duration-300 ease-in-out w-full max-w-xs sm:w-56 md:w-64 lg:w-72;
  }

  .sidebar-open {
    @apply translate-x-0;
  }

  .sidebar-closed {
    @apply -translate-x-full;
  }

 
}

@layer utilities {
  .dashboard-border {
    border-color: var(--black-10, #1C1C1C1A);
  }

  .w-55 {
    width: 220px;
  }

  .min-w-55 {
    min-width: 220px;
  }

  .max-w-55 {
    max-width: 220px;
  }

}
